@model Product


<form asp-action="Edit" method="post" class="form-horizontal" role="form">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="ProductCode" class="col-md-2 control-label">Product Code</label>
        <div class="col-md-5">
            <input asp-for="ProductCode" class="form-control" value="@Model.ProductCode" readonly />
            <span asp-validation-for="ProductCode" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Name" class="form-control" value="@Model.Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Size" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Size" class="form-control" value="@Model.Size" />
            <span asp-validation-for="Size" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="col-md-2 control-label">Price ($)</label>
        <div class="col-md-5">
            <input asp-for="Price" class="form-control" value="@Model.Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="QuantityAvailable" class="col-md-2 control-label">Quantity Available</label>
        <div class="col-md-5">
            <input asp-for="QuantityAvailable" class="form-control" value="@Model.QuantityAvailable" readonly />
            <span asp-validation-for="QuantityAvailable" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group" hidden>
        <label asp-for="OwnerID" class="col-md-2 control-label">Owner ID</label>
        <div class="col-md-5">
            <input asp-for="OwnerID" class="form-control" value="@Model.OwnerID" readonly />
            <span asp-validation-for="OwnerID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Edit Product" />
        </div>
    </div>

</form>